@media screen and (max-width:390px) {
  .education-content{
    left: -10px;
  }
  .education-item{
    width: 80%;
  }
  .education-content{
    padding: 20px;
  }
}




@media screen and (max-width:590px) {
  main .section-title {
    font-size: 25px;
    padding: 30px;
  }

  .header-content {
    flex-wrap: wrap;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .header-text h1 {
    font-size: 30px;
  }

  .header-text p {
    font-size: 14px;
  }

  .left-part,
  .right-part {
    flex-basis: 100%;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding: 10px 20px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); /* Shadow effect */}

  nav {
    border: none;
    align-items: baseline;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 0;
    align-items: center;
  }

  .nav-link {
    border-radius: 16px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border-radius: 10px;

  }

  #navUl {
    display: grid;
    align-items: center;
    text-align: center;
    display: none;
    /* Hidden by default */
  }

  #navUl.show {
    display: flex;
    /* Show navigation links when toggle is clicked */
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }

  #navToggle {
    cursor: pointer;
    z-index: 1100;
  }



  .skills-title {
    font-size: 1.5rem;
  }

  .logos-container {
    gap: 2rem;
  }

  .skills-item {
    width: 30px;
    height: 48px;
  }

  #About,
  .projects-grid {
    margin: 10px;

  }

  .avatar {
    display: grid;
    align-items: center;
  }

  .container {
    padding: 20px;
    align-items: center;
  }

  .content h1 {
    font-size: 20px;
  }

  .content p {
    font-size: 16px;
    margin-bottom: 0;
  }

  .button-and-social-icons .button {
    justify-content: center;
    margin: 20px 0;
  }

  .button-and-social-icons {
    flex-direction: column;
    gap: 10px;
  }

  .icons {
    justify-content: space-between;
    padding: 10px 20px;
  }

  .project-card .project-title {
    font-size: 18px;
  }

  .project-card .project-description {
    font-size: 16px;
  }
  .project-btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .services {
    flex-direction: column;
    gap: 1.5rem;
  }

  .service {
    width: 90%;
  }

  /* ----- education --------- */
  .education-content {
    left: -50px;
  }

  .education-timeline::after {
    left: -25px;
  }

  .education-item {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .education-item::before {
    left: 10px;
    border: medium solid var(--border-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--border-color) transparent transparent;
  }
  .education-title{
    font-size: 18px;
  }
  .education-institution{
    font-size: 16px;
  }

  .left::after,
  .right::after {
    left: -16px;
    top: 20px;
  }

  .left {
    left: -20px;
  }

  .right {
    left: -20px;
  }

  /* ------ contact ---- */

  .contact-container .content {
    text-align: center;
  }


  #Contact {
    scroll-margin-top: 200px;
  }

  .footer-container {
    grid-template-columns: 1fr;
  }

}

@media screen and (min-width:590px) {
  .logo svg {
    display: none;
  }

  .contact-container {
    grid-template-columns: 1fr 1fr;
  }
  .blur-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    filter: blur(50px);
    pointer-events: none;
    z-index: 1000;
  }
  
  .blur-left {
    left: 0;
    background: linear-gradient(to right, rgba(3, 148, 10, 0.075), transparent);
  }
  
  .blur-right {
    right: 0;
    background: linear-gradient(to left, rgba(3, 148, 10, 0.075), transparent);
  }
  .project-card a {
    position: absolute;
    right: 10px;
    bottom: 10px;
    -webkit-user-select: none;
    user-select: none;
  }
}